In [ ]:
import requests
import pandas as pd
import json

In [ ]:
url = "http://ergast.com/api/f1/2022/15.json"

In [ ]:
r = requests.get(url)
json = r.json()

In [ ]:
json.keys()

dict_keys(['MRData'])

In [ ]:
json['MRData']['RaceTable']

{'season': '2022',
 'round': '15',
 'Races': [{'season': '2022',
   'round': '15',
   'url': 'http://en.wikipedia.org/wiki/2022_Dutch_Grand_Prix',
   'raceName': 'Dutch Grand Prix',
   'Circuit': {'circuitId': 'zandvoort',
    'url': 'http://en.wikipedia.org/wiki/Circuit_Zandvoort',
    'circuitName': 'Circuit Park Zandvoort',
    'Location': {'lat': '52.3888',
     'long': '4.54092',
     'locality': 'Zandvoort',
     'country': 'Netherlands'}},
   'date': '2022-09-04',
   'time': '13:00:00Z',
   'FirstPractice': {'date': '2022-09-02', 'time': '10:30:00Z'},
   'SecondPractice': {'date': '2022-09-02', 'time': '14:00:00Z'},
   'ThirdPractice': {'date': '2022-09-03', 'time': '10:00:00Z'},
   'Qualifying': {'date': '2022-09-03', 'time': '13:00:00Z'}}]}

Ahora, vamos a explorar "Race Results"

In [ ]:
url2 = "http://ergast.com/api/f1/2022/22/results.json"

In [ ]:
r = requests.get(url2)
json = r.json()

In [ ]:
json.keys()

dict_keys(['MRData'])

In [ ]:
results = pd.DataFrame(json['MRData']['RaceTable']['Races'][0]['Results'])

In [ ]:
results.head()

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,1,1,1,25,"{'driverId': 'max_verstappen', 'permanentNumbe...","{'constructorId': 'red_bull', 'url': 'http://e...",1,58,Finished,"{'millis': '5265914', 'time': '1:27:45.914'}","{'rank': '6', 'lap': '54', 'Time': {'time': '1..."
1,16,2,2,18,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",3,58,Finished,"{'millis': '5274685', 'time': '+8.771'}","{'rank': '10', 'lap': '48', 'Time': {'time': '..."
2,11,3,3,15,"{'driverId': 'perez', 'permanentNumber': '11',...","{'constructorId': 'red_bull', 'url': 'http://e...",2,58,Finished,"{'millis': '5276007', 'time': '+10.093'}","{'rank': '4', 'lap': '52', 'Time': {'time': '1..."
3,55,4,4,12,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",4,58,Finished,"{'millis': '5290806', 'time': '+24.892'}","{'rank': '3', 'lap': '50', 'Time': {'time': '1..."
4,63,5,5,10,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",6,58,Finished,"{'millis': '5301802', 'time': '+35.888'}","{'rank': '2', 'lap': '48', 'Time': {'time': '1..."

In [ ]:
results['Driver'].apply(lambda x:x['driverId'])

0      max_verstappen
1             leclerc
2               perez
3               sainz
4             russell
5              norris
6                ocon
7              stroll
8           ricciardo
9              vettel
10            tsunoda
11               zhou
12              albon
13              gasly
14             bottas
15    mick_schumacher
16    kevin_magnussen
17           hamilton
18             latifi
19             alonso
Name: Driver, dtype: object

In [ ]:
d=[]
for i in range(len(results['Driver'])):
    c=results['Driver'][i]['driverId']
    d.append(c)
d

['max_verstappen',
 'leclerc',
 'perez',
 'sainz',
 'russell',
 'norris',
 'ocon',
 'stroll',
 'ricciardo',
 'vettel',
 'tsunoda',
 'zhou',
 'albon',
 'gasly',
 'bottas',
 'mick_schumacher',
 'kevin_magnussen',
 'hamilton',
 'latifi',
 'alonso']

In [ ]:
g=results['Constructor'].apply(lambda x:x['constructorId'])

In [ ]:
results['FastestLap'].apply(lambda x:x['rank'])

0      6
1     10
2      4
3      3
4      2
5      1
6      5
7      9
8     18
9     15
10     7
11     8
12    13
13    19
14    16
15    12
16    20
17    11
18    14
19    17
Name: FastestLap, dtype: object

In [ ]:
a=[]
for i in range(len(results['position'])):
    b=results['position'][i]
    a.append(int(b))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
a=[]
for i in range(len(results['position'])):
    b=results['position'][i]
    a.append(int(b))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]